body {
  margin: 0;
  padding: 0;
}

.button {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  line-height: 100px;
  width: 100px;
  font-size: 40px;
  position: absolute;
  text-align: center;
}

.button.active {
  background-color: #000;
  color: #fff;
}

#A {
  bottom: 30px;
  left: 30px;
}

#D {
  bottom: 30px;
  right: 30px;
}

#wrapper {
  max-width: 500px;
  width: 100%;
  position: fixed;
  margin: auto;
  left: 0;
  right: 0;
  height: 100%;
}

#main {
  display: none;
  overflow: hidden;
}

#info {
  margin: 10px;
}

#running {
  width: 100%;
  position: relative;
  margin: 10px auto;
  left: 0;
  right: 0;
  transform-origin: 50% -50%;
  transform: rotate(0deg);
}

#running.fast {
  animation: fast 1s ease-in-out infinite;
}

#running.fastest {
  animation: fastest .8s cubic-bezier(0.11, 0, 0.5, 0) infinite !important;
}

@keyframes fast {
  0% {
    left: 0;
  }
  33% {
    left: -100%;
  }
  66% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

@keyframes fastest {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.run {
  width: 100%;
}